:host {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

@keyframes slideDown {
    from {
        opacity: 0;
        top: -10px;
    }
    to {
        opacity: 1;
        top: 1rem;
    }
}

.animate-slideDown {
    animation: slideDown 0.3s ease-out;
}
